<br>
<p style="text-align:center"> Tripshare 2019.</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<script src="../js/clean-blog.min.js"></script>
</body>
</html>