<% include partials/header.ejs %>
    <div class="container">
        <h1 id="header1">DOM Training</h1>
        <h1>Doc. Obj. Model</h1>
        <ul>
            <li class="aclass">Madde 1</li>
            <li class="aclass">Madde 2</li>
            <li class="aclass">Madde 3</li>
        </ul>
        <a href="https://www.google.com">Bu ne oglim?</a><br><br>
        <button id="disableEL">Event Listener Kaldır</button>
        <script src="/main.js"></script>
    </div>
<% include partials/footer.ejs %>