<% include partials/header.ejs %>
    <div class="row">
        <% for(var i = 0; i < 312; i++){ %>
            <div class="col-xl-1" style="background-color:blueviolet">.</div>
            <% } %>
    </div>
    <script src="/main.js"></script>
    <% include partials/footer.ejs %>